<!-- --------------------------TOP------------------------------------- -->
<app-navbar></app-navbar>
<!-- --------------------------TOP------------------------------------- -->

<div class="container">
    <!-- --------------------------Head------------------------------------- -->
    <div class="row">
        <div class="col-md-12">
            <app-header></app-header>
        </div>
    </div>
    <!-- --------------------------Head------------------------------------- -->

    <!-- --------------------------Center------------------------------------- -->
    <div class="row">
        <div class="col-md-12">
            <router-outlet>
            </router-outlet>
            <!-- <app-shopping-cart></app-shopping-cart> -->
        </div>
    </div>
    <!-- --------------------------Center------------------------------------- -->

    <!-- --------------------------Footer------------------------------------- -->
    <div class="row">
        <div class="col-md-12">
            <app-footer></app-footer>
        </div>
    </div>
    <!-- --------------------------Footer------------------------------------- -->

</div>