<p>Welcome to admin page</p>
<!-- Тут типо кнопки для едита, делейт, адд вообщем рут пэйдж -->

<div class="main btn-group">
    Choose
    <div class="buttons">
        <button class="btn-style" id="edit" routerLink="/adminpage/edit">
            Edit
        </button>
        <button class="btn-style" id="add" routerLink="/adminpage/add">
            Add
        </button>
        <button class="btn-style" id="delete" routerLink="/adminpage/delete">
            Delete
        </button>
    </div>
</div>